* {
  box-sizing: border-box;
}

.wrap {
  height: 10vh;
}
.cart {
  width: 250px;
  height: 100px;
  padding: 10px;
  margin: 1px 1px;
  border: 2px rgb(167, 22, 22) solid;
  border-radius: 20px;
  box-shadow: 0 0 20px 0 rgb(167, 22, 22);
}
.cart__title {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: rgb(167, 22, 22);
}
.cart__amount {
  text-align: center;
  width: 100%;
  padding: 7px;
  font-size: large;
  font-weight: 700;
  border: 1px rgb(0, 0, 0) solid;
  border-radius: 50px;
  outline: none;
}
.cart__cost {
  text-align: center;
}

.wrapdva {
  height: 10vh;
}
.cartdva {
  width: 250px;
  height: 100px;
  padding: 10px;
  margin: 1px 1px;
  border: 2px rgb(45, 110, 2) solid;
  border-radius: 20px;
  box-shadow: 0 0 20px 0 rgb(45, 110, 2);
}
.cart__titledva {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: rgb(45, 110, 2);
}
.cart__amountdva {
  text-align: center;
  width: 100%;
  padding: 7px;
  font-size: large;
  font-weight: 700;
  border: 1px rgb(0, 0, 0) solid;
  border-radius: 50px;
  outline: none;
}
.cart__costdva {
  text-align: center;
}

.wraptri {
  height: 10vh;
}
.carttri {
  width: 250px;
  height: 100px;
  padding: 10px;
  margin: 1px 1px;
  border: 2px rgb(28, 25, 173) solid;
  border-radius: 20px;
  box-shadow: 0 0 20px 0 rgb(28, 25, 173);
}
.cart__titletri {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: rgb(28, 25, 173);
}
.cart__amounttri {
  text-align: center;
  width: 100%;
  padding: 7px;
  font-size: large;
  font-weight: 700;
  border: 1px rgb(0, 0, 0) solid;
  border-radius: 50px;
  outline: none;
}
.cart__costtri {
  text-align: center;
}

.wrapchet {
  height: 10vh;
}
.cartchet {
  width: 250px;
  height: 100px;
  padding: 10px;
  margin: 1px 1px;
  border: 2px rgb(241, 226, 8) solid;
  border-radius: 20px;
  box-shadow: 0 0 20px 0 rgb(241, 226, 8);
}
.cart__titlechet {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: rgb(241, 226, 8);
}
.cart__amountchet {
  text-align: center;
  width: 100%;
  padding: 7px;
  font-size: large;
  font-weight: 700;
  border: 1px rgb(0, 0, 0) solid;
  border-radius: 50px;
  outline: none;
}
.cart__costchet {
  text-align: center;
}
